[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = ">=2.5.0,!=2.7.0"
docker-py = "*"
netaddr = "*"
pbr = ">=1.6"
hvac = "*"

[dev-packages]

[requires]
python_version = "3.7"
